* { 
	margin:0;
	padding:0px;
} 

body,html{
	height:100%;
}

/*top*/
.class_head p{
	color:#FFFFFF;
	font-family:Microsoft YaHei;
	font-size:14px;
}

.class_head{
	position:fixed;
	width:100%;
	height:50px;
	background:#212121;
	z-index:1;
    min-width:900px;

}

.class_img_lolgo{
	float:left;
	margin-top:10px;
	margin-left:30px;
	width:150px;	
	border-right: 1px solid #FFFFFF;
}

.class_img_lolgo img{
	float:left;
	margin-top:2px;
}

.class_time{
	float:left;
	margin-top:15px;
	margin-left:25px;
}

.class_img_xiaoxi{
	float:left;
	margin-left:25px;
	width:40px;
	height:50px;
	background:url(../images/xiaoxi.png) no-repeat 6% 45%;
	cursor:pointer;
}

.head_inquiry{
	float:right;
	margin-top:8px;
	margin-right:30px;
}

.head_inquiry input{
	float:right;
	width:280px;
	height:30px;
	border-radius:10px; 
	outline:none;
	z-index:2;
}

.class_img_sousou{
	float:right;
	margin-top:15px;
	margin-right:-270px;
	cursor:pointer;
}

.class_txt_individual{
	float:right;
	margin-top:10px;
	margin-right:30px;
	width:85px;
	height:30px;
	cursor:pointer;
	background:url(../images/me.png) no-repeat 0% 0%;
}

.class_txt_individual p{
	float:right;
	margin-top:5px;
}

.class_txt_setup{
	float:right;
	margin-top:10px;
	margin-right:30px;
	width:60px;
	height:30px;
	cursor:pointer;
	background:url(../images/setting.png) no-repeat 0% 0%;
}

.class_txt_setup p{
	float:right;
	margin-top:5px;	
}

/*top*/

/*left*/
.class_left{
	position:fixed;
	margin-top:50px;
	width:120px;
	height:100%;
	background:#212121;
	z-index:1;
}

.class_left li{
	color:#FFFFFF;
	font-family:Microsoft YaHei;
	font-size:16px;
}

.left_select{
	float:left;
}

.left_ul li{
	float:left;
	margin-bottom:10px;
	width:120px;
	height:120px;
	cursor:pointer;
	background:#4C4C4C;
	
}

.left_ul li img{
	margin-left:32px;
	margin-top:25px;
}

.li_liebiao{
	background-color:#4B8CF7;
}

.p_assignment{
	margin-left:26px;
}

.p_project{
	margin-left:40px;
}

.p_team{
	margin-left:42px;
}

.class_div_xuanzhong{
	position:absolute;
	top:50px;
	left:120px;
	display:none;
}

/*left*/   

/*body*/   
.iframe_project{
	float:left;
	width:100%;
	height:100%;
	margin-left:120px;
	margin-top:50px;
	display:none;
}

.iframe_liebiao{
	float:left;
	margin-left:120px;
	margin-top:50px;
	width:45%;
	height:100%;
	display:block;
	min-width:1400px;
	
}
/*body*/   

 